<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <img src="images/img1.jpg" alt="profile picture" width="100" />
      <h1>Samuel Marchuk</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <a href="https://github.com/SamuelM007/portfolio" target="_blank">
              Github</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/samuel-m-5a330a31b/"
              target="_blank"
              >LinkedIn</a
            >
          </li>
          <li><a href="/admin">Admin</a></li>
        </ul>
      </nav>
    </header>
    <h3>Thank you for contacting me!</h3>

    <a href="/"><button>Home</button></a>
  </body>
</html>
