body {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  font-size: 1rem;
  max-width: 80%;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

header img {
  border-radius: 1rem;
  justify-self: right;
}

nav {
  width: 100%;
  grid-column: 1/-1;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-wrap: wrap;
  justify-content: space-evenly;
}

section {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1.25rem;
}
