body {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  font-size: 1rem;
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(200, 228, 200);
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  border-left: solid black 0.1rem;
  border-right: solid black 0.1rem;
}

header img {
  border-radius: 1rem;
  justify-self: right;
  border: 0.1rem solid black;
}

nav {
  width: 100%;
  grid-column: 1/-1;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav li {
  border: 0.1rem solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: grey;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-wrap: wrap;
  justify-content: space-evenly;
}

section {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: aliceblue;
}

section br {
  border-bottom: 0.1rem solid black;
}

p {
  margin: 0.75rem 0;
}

section ul {
  list-style-type: "- ";
}

div {
  border-top: 0.1rem black solid;
}

fieldset {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.bio-info {
  grid-column: span 2;
  input {
    width: 100%;
    height: 1.5rem;
  }
}

form label {
  grid-column: span 3;
}

#message {
  width: 100%;
}

@media (max-width: 1029px) {
  section {
    margin: 1rem;
  }
}
